Node-RED.json
[
    {
        "id": "f635bfbc5a0e0d22",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49ea2c67e98167cd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a5b532be6e990cc3",
        "type": "ui_tab",
        "name": "Sistema de Segurança",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed7363a9a1cf728e",
        "type": "ui_group",
        "name": "Sensor de Movimento",
        "tab": "a5b532be6e990cc3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0392dc20e087842b",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a94eb27ef69161c0",
        "type": "mqtt in",
        "z": "f635bfbc5a0e0d22",
        "name": "Intrusão Detectada",
        "topic": "sensor/pir",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0392dc20e087842b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "06ff8b3fd6da6ef3"
            ]
        ]
    },
    {
        "id": "06ff8b3fd6da6ef3",
        "type": "function",
        "z": "f635bfbc5a0e0d22",
        "name": "Formatar Data/Hora",
        "func": "const now = new Date();\nmsg.payload = \"🚨 Intrusão detectada às \" + now.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "d6420f919d1dd238",
                "843e7a11f57e4a21"
            ]
        ]
    },
    {
        "id": "d6420f919d1dd238",
        "type": "ui_text",
        "z": "f635bfbc5a0e0d22",
        "group": "ed7363a9a1cf728e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Último Alerta",
        "label": "Última Detecção",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "843e7a11f57e4a21",
        "type": "debug",
        "z": "f635bfbc5a0e0d22",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 910,
        "y": 260,
        "wires": []
    }
]